.wrapper {
    background: linear-gradient(to bottom, #F8F9FA, #7392b448);
  /* Add more color stops as needed */
  height: 100vh; /* Adjust the height as needed */
}

.form-floating>label {
    font-size: smaller;
}