.wrapper {
  position: relative;
  background: linear-gradient(to bottom, #f8f9fa, #7392b448);
  height: 95vh;
}
.form-floating > label {
  font-size: smaller;
}
.list-group {
  position: fixed;
  margin: auto 0;
  z-index: 1; 
}
.visible {
  display: block;
}
.location-details {
  font-size: smaller;
}
.fav-btn {
  font-size: x-small;
}
@media screen and (max-width: 619px) {
  .daily-weather {
    display: flex;
    flex-direction: column;
  }
}