.wrapper {
  background: linear-gradient(to bottom, #f8f9fa, #7392b448);
  height: 100vh;
}

.form-floating > label {
  font-size: smaller;
}

.location-details {
  font-size: smaller;
}

@media screen and (max-width: 636px) {
  .daily-weather {
    display: flex;
    flex-direction: column;
  }
}